.content-container {
  background-color: rgba(171, 150, 128, 0.7); /* Color de fondo de respaldo con transparencia */
  background-image: url('../../assets/partido_fondo.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  height: 100%;
  width: 80%;
  position: fixed;
  left: 20%;
  top: 15%; /* Deja espacio para el header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
}

.content-container p {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Detalle visual de texto */
  margin: 0; 
}

