.sidebar-container {
    background-color: #735945;
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 15%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1; 

  }
  
  .sidebar-container h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0; }

/* Clase para el contenedor del botón */
.d-flex {
  display: flex;
  justify-content: center;
}


/* Clase para el diseño en columna del contenedor del botón */
.flex-column {
  flex-direction: column;
}

/* Clase para el margen superior del contenedor del botón */
.mt-42 {
  margin-top: 1rem;
}

/* Clase para el botón de Ingresar */
.btn2 {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0 auto; 
}

.btn-outline-danger2 {
  color: #ffffff; 
  background-color: transparent; 
  border-color: #ffffff; 
}


.btn-outline-danger2:hover {
  color: #fff; 
  background-color: #55985b; 
  border-color: #04810e; 
}
